* {
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(172, 165, 220);
  border-radius: 1rem;
}
pre,
code {
  line-height: 1.5rem;
  font-weight: 800;
  font-size: 0.9rem !important;
  font-family: "Courier New", Courier, monospace, Courier, monospace;
  background-color: lightgray;
  padding: 0.2rem;
  color: black;
}
pre {
  border-radius: 0.3rem;
  background-color: black !important;
  code {
    color: lightgray;
    background-color: transparent;
  }
}
.App {
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(28, 24, 54);
  .notch {
    color: rgba(172, 165, 220, 0.537);
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    .maximize-btn {
      background-color: lightgreen;
      color: black;
      height: 16px;
      width: 16px;
      font-size: 0.7rem;
      font-weight: 800;
      border-radius: 50%;
      display: grid;
      place-content: center;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
  .editor-container,
  .preview-container {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    background-color: darkslateblue;
    border-radius: 0.4rem;
    overflow: hidden;
    &.maximize {
      position: fixed;
      width: calc(100vw - 2rem);
      max-width: 800px;
      min-height: calc(100vh - 2rem);
      z-index: 9;
    }
  }

  #editor,
  #preview {
    color: lightgray;
    background-color: rgb(44, 37, 92);
    color: lightgray;
    background-color: rgb(44, 37, 92);
    border: 0;
    width: 100%;
    height: calc(100% - 22px);
  }

  .editor-container {
    width: 500px;
    max-width: calc(100vw - 2rem);
    height: 30vh;
    min-height: 200px;

    #editor {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
    #editor:focus {
      outline: none;
    }
  }
  .preview-container {
    width: 700px;
    background-color: darkslateblue;
    max-width: calc(100vw - 2rem);
    min-height: 300px;
    height: calc(70vh - 3rem);
    border-radius: 0.4rem;
    overflow: hidden;
    #preview {
      padding: 2rem 1rem 1rem 1rem;
      line-height: 2.5rem;

      a {
        color: magenta;
      }
      table {
        * {
          border: 1px solid white;
        }
      }
      img {
        max-width: 70%;
      }
      overflow-y: scroll;
    }
  }
}
